<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="/CSS/MainStyle.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    @RenderSection("custom_js_css", false)

</head>
<body>
    <div class="body">
        <div class="header">
            <div class="innerheader">
                <div class="logopic"><a href="index.html" class="homelink"></a></div>
                <div class="logotextcont">
                    <h1 class="logotext">National Parks Campground Reservation Service</h1>
                </div>

            </div>
        </div>

        <div class="menu">
            <div class="menufiller">
                <div class="button"><a class="buttonlink" @(ViewData["Title"].Equals("Home") ?  "id=currentPageUnderline" : "") href="/">Home</a></div>
                <div class="button"><a class="buttonlink" @(ViewData["Title"].Equals("Search") ?  "id=currentPageUnderline" : "") href="/Search/Search">Park Search</a></div>
                <div class="button"><a class="buttonlink" @(ViewData["Title"].Equals("Reservations") ?  "id=currentPageUnderline" : "") href="/Reservation/Reservations">Reservations</a></div>
                <div class="button"><a class="buttonlink" @(ViewData["Title"].Equals("About") ?  "id=currentPageUnderline" : "") href="/Home/About">About</a></div>
            </div>
        </div>

       @RenderBody()

        <div class="footer">
            <hr class="colored">
            <div class="footerfillerbox"></div>
            <div class="mediabox">
                <a href="https://www.instagram.com/nationalparkservice">
                    <img src="/Images/Email.png" class="imgicons" id="imgEmail" />
                </a>
            </div>
            <div class="mediabox">
                <a href="https://www.facebook.com/nationalparkservice">
                    <img src="/Images/Facebook.png" class="imgicons" id="imgFacebook" />
                </a>
            </div>
            <div class="mediaboxtext">
                National Parks Service
            </div>

        </div>
    </div>
</body>
</html>
